*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;
background:#fff8fb;
color:#444;

}

.hero{

position:relative;
height:100vh;
overflow:hidden;

display:flex;
justify-content:center;
align-items:center;
text-align:center;

}

.banner-img{

position:absolute;

width:100%;
height:100%;

object-fit:cover;
object-position:center center;

filter:blur(4px);

transform:scale(1.05);

}

.overlay{

position:absolute;

width:100%;
height:100%;

background:rgba(72,20,68,.55);

}

.hero-content{

position:relative;
z-index:2;

color:white;

max-width:700px;

padding:20px;

}

.hero h3{

font-size:30px;
margin-bottom:10px;

}

.hero h1{

font-family:'Playfair Display',serif;

font-size:65px;

margin-bottom:20px;

}

.hero p{

font-size:20px;

margin-bottom:30px;

line-height:1.7;

}


/* CELULAR */

@media(max-width:768px){

.hero{

height:80vh;

}

.banner-img{

object-fit:contain;

object-position:center top;

transform:scale(1);

background:#f8eef5;

}

.hero h1{

font-size:45px;

}

.hero h3{

font-size:24px;

}

.hero p{

font-size:16px;

}

}

.btn{

display:inline-block;

padding:16px 35px;

background:#c15dbd;

color:white;

text-decoration:none;

border-radius:30px;

font-weight:bold;

transition:.4s;

}

.btn:hover{

background:#8d2f88;
transform:translateY(-5px);

}


section{

padding:80px 10%;

}

h2{

text-align:center;

font-size:40px;

margin-bottom:30px;

color:#7d2f7c;

font-family:'Playfair Display', serif;

}

.sobre p{

text-align:center;
line-height:1.8;
max-width:800px;
margin:auto;

}

.informacoes{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}

.card{

background:white;

padding:30px;

width:250px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}

.card h3{

color:#a14498;
margin-bottom:15px;

}

.card p{

font-size:22px;
font-weight:bold;

}

.galeria{

background:#fcecf6;

}

.fotos{

display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;

}

.foto{

width:300px;
height:300px;

background:#ddd;

border-radius:20px;

}

.pagamento{

text-align:center;

}

.pagamento p{

margin:20px 0;

}

.contato{

font-weight:bold;
font-size:20px;

}

footer{

background:#682963;
color:white;

padding:30px;

text-align:center;

}


@media(max-width:768px){

.hero h1{

font-size:45px;

}

.hero{

height:auto;
padding:100px 20px;

}

}


/* Botões flutuantes */

.floating-buttons{

position:fixed;

right:25px;
bottom:25px;

display:flex;
flex-direction:column;

gap:15px;

z-index:999;

}

.whatsapp-btn,
.instagram-btn{

width:60px;
height:60px;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

font-size:28px;

text-decoration:none;

color:white;

box-shadow:0 5px 20px rgba(0,0,0,.3);

transition:.4s;

}

.whatsapp-btn{

background:#25D366;

}

.instagram-btn{

background:linear-gradient(
45deg,
#f58529,
#dd2a7b,
#8134af
);

}

.whatsapp-btn:hover,
.instagram-btn:hover{

transform:scale(1.1);

}

.momentos{

background:#fcecf6;
text-align:center;

}

.momentos p{

margin-bottom:40px;

}

.momentos-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:25px;

align-items:start;

}

.momento-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.1);

transition:.4s;

height:fit-content;

display:block;

}

.momento-card:hover{

transform:translateY(-10px);

}

.momento-card img,
.momento-card video{

width:100%;
display:block;

border-radius:0 0 20px 20px;

}


/* imagens */

.momento-card img{

height:auto;
object-fit:contain;

}


/* vídeos */

.momento-card video{

height:auto;

}
.momento-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.1);

transition:.4s;

height:fit-content;

display:block;

}

.momento-card:hover{

transform:translateY(-10px);

}

.momento-info{

padding:15px;

text-align:left;

}

.momento-info span{

display:block;

font-size:20px;
font-weight:bold;

color:#8d2f88;

margin-bottom:10px;

}

.momento-info p{

font-size:14px;
color:#666;

}

.pagamento-btn{

font-size:18px;

padding:18px 35px;

background:linear-gradient(
45deg,
#c15dbd,
#8d2f88
);

box-shadow:
0 10px 30px rgba(193,93,189,.4);

}

.pagamento-btn:hover{

transform:
translateY(-5px)
scale(1.03);

}

.comprovante-btn{

display:block;

margin-top:20px;

background:#25D366;

box-shadow:
0 10px 25px rgba(37,211,102,.35);

}

.comprovante-btn:hover{

transform:
translateY(-5px);

}

.confirmacao{

display:flex;

flex-direction:column;

gap:15px;

max-width:500px;

margin:30px auto;

}

.confirmacao input{

padding:18px;

border:none;

border-radius:30px;

font-size:16px;

outline:none;

box-shadow:
0 5px 15px rgba(0,0,0,.1);

}


.modal{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.6);

z-index:9999;

justify-content:center;
align-items:center;

}

.modal-content{

background:white;

padding:35px;

width:90%;
max-width:500px;

border-radius:25px;

text-align:center;

animation:subir .5s;

}

.modal-content input{

width:100%;

padding:16px;

margin:10px 0;

border:none;

border-radius:30px;

background:#f7f1f6;

font-size:16px;

}

.fechar{

float:right;

font-size:30px;

cursor:pointer;

color:#8d2f88;

}

@keyframes subir{

from{

opacity:0;
transform:translateY(50px);

}

to{

opacity:1;
transform:translateY(0);

}

}

